<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdType</key>
	<dict>
		<key>Splash</key>
		<dict>
			<key>Common</key>
			<dict>
				<key>GDT</key>
				<string>123456789</string>
				<key>BAIDU</key>
				<string></string>
				<key>GM</key>
				<string></string>
				<key>KS</key>
				<string></string>
				<key>CSJ</key>
				<string></string>
				<key>SIGMOB</key>
				<string>123456789</string>
			</dict>
			<key>C2S</key>
			<dict>
				<key>GDT</key>
				<string></string>
				<key>BAIDU</key>
				<string></string>
				<key>GM</key>
				<string></string>
				<key>KS</key>
				<string></string>
				<key>CSJ</key>
				<string></string>
				<key>SIGMOB</key>
				<string>123456789</string>
			</dict>
			<key>S2S</key>
			<dict>
				<key>GDT</key>
				<string>123456789</string>
				<key>SIGMOB</key>
				<string>123456789</string>
			</dict>
		</dict>
		<key>Native</key>
		<dict>
			<key>C2S</key>
			<dict/>
			<key>Common</key>
			<dict/>
			<key>S2S</key>
			<dict/>
		</dict>
		<key>RewardedVideo</key>
		<dict>
			<key>C2S</key>
			<dict/>
			<key>Common</key>
			<dict>
				<key>GDT</key>
				<string>123456789</string>
			</dict>
			<key>S2S</key>
			<dict/>
		</dict>
		<key>Banner</key>
		<dict>
			<key>C2S</key>
			<dict/>
			<key>Common</key>
			<dict/>
			<key>S2S</key>
			<dict/>
		</dict>
		<key>Interstitial</key>
		<dict>
			<key>C2S</key>
			<dict/>
			<key>Common</key>
			<dict/>
			<key>S2S</key>
			<dict/>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
